@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Default button mixin override

@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%), $active-background: darken($background, 10%), $active-border: darken($border, 12.5%)) {
  color: color-yiq($background);
  @include gradient-bg($background);
  border-color: $border;
  @include box-shadow($btn-box-shadow);

  @include hover {
    color: $background;
    background: color-yiq($background);
    border-color: $hover-border;
  }

  &:focus,
  &.focus {
    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-box-shadow, 0 0 0 $input-btn-focus-width rgba($border, .5);
    } @else {
      box-shadow: 0 0 0 $input-btn-focus-width rgba($border, .5);
    }
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    background-color: $background;
    border-color: $border;
    &:hover {
      background-color: $background;
      border-color: $border;
      color: color-yiq($background);
    }
  }

  &:not([disabled]):not(.disabled):active,
  &:not([disabled]):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    @if $enable-gradients {
      background-image: none; // Remove the gradient for the pressed/active state
    }
    border-color: $active-border;

    // Avoid using mixin so we can pass custom focus shadow properly
    @if $enable-shadows {
      box-shadow: $btn-active-box-shadow, 0 0 0 $input-btn-focus-width rgba($border, .5);
    } @else {
      box-shadow: 0 0 0 $input-btn-focus-width rgba($border, .5);
    }
  }
}

// Additional functions
@function get-breakpoint($key: "xs") {
  @return map-get($grid-breakpoints, $key);
}

// VSAC colors
$vsac-blue:          #006877;
$vsac-maroon:        #701d45;
$vsac-pink:          #b51e83;
$vsac-light-blue:    #7cddd8;
$vsac-lime:          #cddb28;
$vsac-gray:          #d7dee7;

// Mockup colors
$primary:            #2d8eff;
$secondary:          #dceeff;
$black:              #000a12;
$white:              #ffffff;

$negative:           #ff4949;
$positive:           #13ce66;
$warning:            #ffcc3d;
$active:             $primary;

// $gray-dark:          #1f2d3d;
// $gray:               #778f9b;
// $gray-light:         #b8c1cb;
// $snow:               #dde2eb;

$theme-colors: (
  primary: $vsac-blue,
  secondary: lighten($vsac-gray,8%),
  success: $positive,
  info: $secondary,
  warning: $warning,
  danger: $negative,
  light: $white,
  dark: $vsac-maroon
);

.theme-highlight {
  color: theme-color(secondary);
}

$link-color:            theme-color(primary);
$link-decoration:       underline;
$link-hover-color:      theme-color(primary);

$component-active-color:  $white;
$component-active-bg:     theme-color(primary);

$dropdown-link-active-color:     $component-active-color;
$dropdown-link-active-bg:        $component-active-bg;

$nav-pills-link-active-color: $component-active-color;
$nav-pills-link-active-bg:    $component-active-bg;

$list-group-active-color:             $component-active-color;
$list-group-active-bg:                $component-active-bg;
$list-group-active-border-color:      $list-group-active-bg;

$pagination-color:                  $link-color;
$pagination-bg:                     $white;

$pagination-hover-color:            $link-hover-color;

$pagination-active-color:           $white;
$pagination-active-bg:              theme-color("primary");
$pagination-active-border-color:    theme-color("primary");

$text-muted: $gray-700;

$enable-grid-classes: false;
$enable-css-grid:     true;

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1100px
) !default;
@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1240px,
);
@include _assert-ascending($container-max-widths, "$container-max-widths");

$font-family-sans-serif: "Open Sans", sans-serif;
$font-family-base:       $font-family-sans-serif;

$headings-font-weight:   700;

$btn-font-weight:        700;

$navbar-light-active-color:         theme-color(primary);

$navbar-dark-color:                 rgba($white,.75);
$navbar-dark-hover-color:           rgba($white,1);
$navbar-dark-active-color:          rgba($white,1);
$navbar-dark-disabled-color:        rgba($white,.5);

$nav-tabs-border-width:                       2px;
$nav-tabs-border-radius:                      0;
$nav-tabs-link-hover-border-color:            $link-color;
$nav-tabs-link-active-color:                  $link-color;
$nav-tabs-link-active-bg:                     $white;
$nav-tabs-link-active-border-color:           $link-color;

@import "bootstrap/print";
@import "bootstrap/reboot";
@import "bootstrap/type";
@import "bootstrap/images";
@import "bootstrap/code";
// @import "bootstrap/grid";

.container {
  @include make-container();
  @include make-container-max-widths();
}

// Grid rows
.grid-row {

  @include make-row();

  @if $enable-css-grid {
    @supports (grid-gap: 10px) {
      display: grid;
      grid-template-columns: repeat($grid-columns, 1fr);
      margin: 0;

      @include media-breakpoint-up(sm) {
        grid-gap: 0 ($grid-gutter-width / 2); // 0 15px
      }
    }
  }
}

// Grid columns
@mixin make-grid-columns($columns: $grid-columns, $gutter: $grid-gutter-width, $breakpoints: $grid-breakpoints) {
  // Common properties for all breakpoints
  %grid-column {
    position: relative;
    width: 100%;
    min-height: 1px; // Prevent columns from collapsing when empty
    padding-right: ($gutter / 2);
    padding-left:  ($gutter / 2);

    @if $enable-css-grid {
      @supports (grid-gap: 10px) {
        width: 100%;
        grid-column-start: span $grid-columns;
        max-width: none; // reset max-width
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  @each $breakpoint in map-keys($breakpoints) {
    $infix: breakpoint-infix($breakpoint, $breakpoints);

    // Allow columns to stretch full width below their breakpoints
    @for $i from 1 through $columns {
      .grid-col#{$infix}-#{$i} {
        @extend %grid-column;
      }
    }
    .grid-col#{$infix},
    .grid-col#{$infix}-auto {
      @extend %grid-column;
    }

    @include media-breakpoint-up($breakpoint, $breakpoints) {
      // Provide basic `.col-{bp}` classes for equal-width flexbox columns
      .grid-col#{$infix} {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
      }
      .grid-col#{$infix}-auto {
        flex: 0 0 auto;
        width: auto;
        max-width: none; // Reset earlier grid tiers
      }

      @for $i from 1 through $columns {
        .grid-col#{$infix}-#{$i} {
          @include make-col($i, $columns);

          @if $enable-css-grid {
            @supports (grid-gap: 10px) {
              grid-column-start: span $i;
              max-width: none; // Reset earlier grid tiers
              order: 1;
            }
          }
        }
      }

      .grid-order#{$infix}-first {
        order: -1;
      }

      @for $i from 1 through $columns {
        .grid-order#{$infix}-#{$i} {
          order: $i;

          @if $enable-css-grid {
            @supports (grid-gap: 10px) {
              @if $i == 1 {
                order: -1;
              }
            }
          }
        }
      }
    }
  }
}

@include make-grid-columns();

@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";
@import "bootstrap/transitions";
@import "bootstrap/dropdown";
// @import "bootstrap/button-group";
@import "bootstrap/input-group";
@import "bootstrap/custom-forms";
@import "bootstrap/nav";

.nav-tabs {
  .nav-link {
    @include hover-focus {
      border-color: transparent transparent $nav-tabs-link-active-border-color;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: transparent transparent $nav-tabs-link-active-border-color;
  }
}

@import "bootstrap/navbar";
@import "bootstrap/card";
// @import "bootstrap/breadcrumb";
@import "bootstrap/pagination";
@import "bootstrap/badge";
// @import "bootstrap/jumbotron";
// @import "bootstrap/alert";
.alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: ($alert-padding-y * 1.5) ($alert-padding-x * 1.5);
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  font-weight: 700;
  @include border-radius($alert-border-radius);
  svg {
    flex-grow: 0;
    flex-shrink: 0;
    fill: currentColor;
    height: 24px;
    margin: 0 0 0.5rem; // 0 0 8px
    width: 24px;
    @include media-breakpoint-up(sm) {
      margin: 0 0.5rem 0 0; // 0 8px 0 0
    }
  }
  @include media-breakpoint-up(sm) {
    flex-direction: row;
    align-items: flex-start;
  }
}

.alert-dismissible {
  // Adjust close link position
  .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
  }
}

.alert-sm {
  font-size: $font-size-sm;
  padding: $alert-padding-y $alert-padding-x;
}

.alert-lg {
  font-size: $font-size-lg;
  svg {
    width: 32px;
    height: 32px;
    margin-right: 1rem; // 16px
  }
}

.alert-danger {
  @include alert-variant(#ffcac9, transparent, $body-color);
}
.alert-warning {
  @include alert-variant(#fff0c7, transparent, $body-color);
}
.alert-success {
  @include alert-variant(#bbf1d2, transparent, $body-color);
}
.alert-info {
  @include alert-variant(#c1ddff, transparent, $body-color);
}

.alert-message *:last-child {
  margin-bottom: 0;
}

// @import "bootstrap/progress";
// @import "bootstrap/media";
// @import "bootstrap/list-group";
@import "bootstrap/close";
@import "bootstrap/modal";
// @import "bootstrap/tooltip";
// @import "bootstrap/popover";
// @import "bootstrap/carousel";
@import "bootstrap/utilities";

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
  // font-size: 0.875rem; // 14px

  &.show-breakpoints {
    // Breakpoint indicators for display
    &::after {
      background: $gray-900;
      color: $white;
      content: "XS";
      font-family: $font-family-monospace;
      font-size: .75rem; // 12px
      line-height: 1;
      font-weight: 700;
      padding: .4rem;
      position: fixed;
      bottom: 1rem;
      left: 1rem;
      text-align: center;
      text-transform: uppercase;
      z-index: 100000;
    }
    @include media-breakpoint-up(sm) {
      &::after {
        content: "sm";
      }
    }
    @include media-breakpoint-up(md) {
      &::after {
        content: "md";
      }
    }
    @include media-breakpoint-up(lg) {
      &::after {
        content: "lg";
      }
    }
    @include media-breakpoint-up(xl) {
      &::after {
        content: "xl";
      }
    }
  }
}

// Forms
legend {
  font-weight: 700;
  font-size: $h5-font-size;
  padding: 0 0.5rem; // 0 8px
  width: auto;
}

fieldset {
  fieldset {
    border-top: 2px solid $gray-300;
    legend {
      font-size: $h6-font-size;
      margin-left: 1rem;
    }
  }
  &+fieldset {
    padding-top: 1rem;
    margin-top: 1rem;
  }
}

label, .col-form-legend, .col-form-label {
  color: $text-muted;
  font-weight: 600;
  font-size: $font-size-sm;
  margin-bottom: 0.25rem; // 4px
}

.col-form-legend, .col-form-label {
  margin: 0;
}

.custom-control {
  font-size: inherit;
}

.custom-control--nolabel {
  padding: 0;
  margin: 0;
  .custom-control-indicator {
    position: static;
    top: auto;
    left: auto;
  }
}

// Dropdowns
.dropdown-item {
  text-decoration: none; // Revert default underline style
}

// Icons
.icon-success {
  fill: theme-color(success);
}

// Navigation
.navbar {
  border-bottom: 1px solid $gray-200;
  margin-bottom: 2rem; // 32px
  font-weight: 600;
  font-size: 0.875rem; // 14px
  a {
    text-decoration: none;
  }

  .navbar-brand {
    font-weight: 800;
    svg {
      display: block;
      fill: currentColor;
    }
  }

  .btn {
    min-width: 0;
  }
  @include media-breakpoint-up(lg) {
    padding: ($navbar-padding-y * 3) $navbar-padding-x;
    .navbar-nav {
      align-items: center;
    }
    .nav-link {
      text-align: center;
    }
  }
  .dropdown-menu {
    background: theme-color(dark);
    border: 0;
    border-radius: 0;
    font-size: 0.875rem; // 14px
    margin-top: 0;
  }
  .dropdown-item {
    color: $white;
    &:hover, &:focus, &:active, &.active {
      background: darken(theme-color(dark), 15%);
      color: $white;
    }
  }
}

.navbar-dark {
  @include media-breakpoint-up(lg) {
    .navbar-nav {
      .active {
         > .nav-link {
           border-radius: .5rem;
           background: darken(theme-color(dark),10%);
         }
      }
      .show {
        > .nav-link {
          background: theme-color(dark);
        }
      }
    }
  }
}

// Tab nav
.nav-tabs {
  .nav-link {
    color: $text-muted;
    font-weight: 700;
    text-decoration: none;
  }
}

// Footer
footer {
  color: $text-muted;
  font-size: $font-size-sm;
  padding: 3rem 0; // 48px 0
  p {
    padding: $navbar-padding-y $navbar-padding-x;
  }
  a {
    color: $text-muted;
    text-decoration: underline;
  }
  > section {
    display: flex;
    flex-direction: column;
  }

  @include media-breakpoint-up(md) {
    > section {
      flex-direction: row;
    }
  }
}

// Typography
h1, .h1 {
  font-size: $h3-font-size;
  font-weight: 800;

  @include media-breakpoint-up(md) {
    font-size: $h1-font-size;
  }
}

h2, .h2 {
  font-size: $h4-font-size;
  font-weight: 800;

  @include media-breakpoint-up(md) {
    font-size: $h2-font-size;
  }
}

h3, .h3 {
  font-size: $h5-font-size;
  font-weight: 800;

  @include media-breakpoint-up(md) {
    font-size: $h3-font-size;
  }
}

h4, .h4 {
  font-size: $h6-font-size;
  font-weight: 700;

  @include media-breakpoint-up(md) {
    font-size: $h4-font-size;
  }
}

.page-title {
  font-weight: 800;
  small {
    color: $text-muted;
    display: block;
    font-size: $h5-font-size;
    margin-top: $spacer / 2;
  }
}

.page-header {
  padding: 0 0 1.5rem; // 0 0 24px
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
}

// Buttons
.btn {
  cursor: pointer;
  min-width: 140px;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  svg {
    fill: currentColor;
    margin-right: 0.5rem; // 8px
    height: 20px;
    width: 20px;
  }
}

.btn-auto {
  min-width: 0;
}

.btn-group {
  .btn {
    min-width: 0;
  }
}

.btn-sm {
  svg {
    height: 16px;
    width: 16px;
  }
}

.btn-lg {
  svg {
    height: 24px;
    width: 24px;
  }
}

.help-link {
  color: theme-color(danger);
  &:not([href]):not([tabindex]) {
    &, &:focus, &:hover {
      color: theme-color(danger);
    }
  }
  svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}

// Pagination
.page-link {
  text-decoration: none;
}

// Exit disclaimer
.disclaimer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  padding: 10vh 1.5rem; // 10% 24px
  > div {
    background: $white;
    border: 4px solid theme-color(warning);
    max-width: 760px;
    padding: 1.5rem 1.5rem 1rem; // 24px 24px 16px
  }
}

// Callouts
.callout {
  background: lighten($vsac-lime, 48%);
  border: 2px solid lighten($vsac-lime, 25%);
  padding: 1.25rem; // 20px
  margin: 0 0 1rem; // 0 0 16px
  font-size: 0.875rem; // 14px
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    color: $vsac-blue;
  }
  h2, .h2, h3, .h3 {
    font-weight: 800;
  }
  h4, .h3, h5, .h5 {
    font-weight: 700;
  }
  *:last-child {
    margin-bottom: 0;
  }

  @include media-breakpoint-up(md) {
    font-size: 1rem; // 16px
  }
}

// Blocks
.block {
  border: 2px solid $gray-300;
  padding: 1rem; // 16px
  margin-bottom: 1rem; // 16px
  h2, .h2, h3, .h3 {
    font-weight: 800;
    margin-bottom: 1rem; // 16px
  }
  h4, .h4, h5, .h5 {
    font-weight: 700;
  }
  @include media-breakpoint-up(md) {
    padding: 1.5rem; // 24px
  }

  &.block--alt {
    // background: $gray-100;
    border: 0;
    // padding: 0;
    margin: 0;
    @include media-breakpoint-up(md) {
      // padding: 0;
    }
  }
}

.block__title {
  font-weight: 500;
  small {
    display: block;
  }
}

// Single column (forgot password, forgot username, registration)
.single-column {
  margin: 0 auto;
  max-width: 640px;

  h3, .h3 {
    font-weight: 800;
  }
}

// Registration
.security-picture-select {
  display: flex;
  flex-flow: row wrap;

  label {
    background-color: $white;
    position: relative;
    display: block;
    box-sizing: border-box;
    flex-basis: 50%;
    padding: 0;

    &.active {
      background-color: theme-color(primary);
      &:after {
        background-color: rgba($black,0.25);
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='16' viewBox='0 0 12 16' xmlns='http://www.w3.org/2000/svg' fill='%23fff'%3E%3Ctitle%3Echeck%3C/title%3E%3Cpath fill-rule='evenodd' d='M12 5L4 13 0 9 1.5 7.5 4 10 10.5 3.5z'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: 50% 50%;
        content: 'selected';
        font-size: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        text-transform: uppercase;
      }
    }

    input[type="radio"],
    input[type="checkbox"] {
      position: absolute;
      clip: rect(0,0,0,0);
      pointer-events: none;
    }
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    pointer-events: none; // Allow clicking on image in IE to trigger change event
    padding: 0.5rem; // 8px
  }

  @include media-breakpoint-up(md) {
    label {
      flex-basis: 33.333%;
    }
  }

  @if $enable-css-grid {
    @supports (grid-gap: 10px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

// Edit profile
.multi-column-form {

  fieldset {
    border-bottom: 1px solid $gray-300;
    margin: 1rem 0 0; // 16px 0 0
    padding: 1rem 0 0; // 16px 0 0
    @include media-breakpoint-up(lg) {
      border: 0;
      margin: 0;
      padding: 0;
      &+fieldset {
        margin: 2rem 0 0; // 16px 0 0
      }
    }
  }

  legend {
    padding-left: 0;
  }

  .form-actions {
    padding: 1rem 0 0; // 16px 0 0
    .btn {
      min-width: 200px;
    }
  }

  @include media-breakpoint-up(sm) {
    .field-group, .address-group {
      display: flex;
      flex-flow: row nowrap;
      margin: 0 -0.5rem; // 0 -8px
      .form-group {
        flex-basis: 50%;
        margin-left: 0.5rem; // 8px
        margin-right: 0.5rem; // 8px
      }
      .flex-fw {
        flex-basis: 100%;
      }
    }
    .address-group {
      .form-city {
        flex-basis: 50%;
      }
      .form-state, .form-zip {
        flex-basis: 25%;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    .form-actions {
      border-top: 1px solid $gray-300;
      margin: 1rem 0 0; // 16px 0 0
    }
  }
}

// LOANS
.account-select {
  max-width: 320px;
  margin-bottom: 2rem; // 32px
}

.loan-tabs {
  display: none;
  @include media-breakpoint-up(lg) {
    display: flex;
    margin-bottom: 1.25rem; // 20px
  }
}

.loan-section-title {
  @include media-breakpoint-up(lg) {
    @include sr-only();
  }
}

.loan-section {
  padding: 1rem; // 16px
  margin-bottom: 1rem; // 16px
  border-bottom: 2px solid $gray-200;
  &:first-child, &:last-child {
    border-bottom: 0;
  }

  &:first-child {
    padding-top: 0.75rem; // 12px
  }

  *:last-child {
    margin-bottom: 0;
  }

  .details {
    margin: 0 -1rem; // 0 -16px
  }
}

.loan-section__header {
  padding-bottom: 1rem; // 16px
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.loan-payments {
  .details {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .detail {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
  }
}

.loans-in-repayment {
  .details {
    flex-wrap: wrap;
  }
  .detail {
    flex-basis: 50%;
  }
  @include media-breakpoint-up(sm) {
    .details {
      flex-wrap: nowrap;
    }
    .detail {
      flex-basis: 33.3333%;
    }
  }
}

// Detail blocks
.detail-block {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .details {
    display: flex;
    flex-direction: column;
    .btn {
      margin: 1rem;
      &+.btn {
        margin-top: 0;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    .details {
      flex-direction: row;
    }

    .detail {
      flex-basis: 50%;
    }
  }

  @include media-breakpoint-up(lg) {
    flex-direction: row;

    .details {
      flex-direction: column;
      flex-basis: 25%;
    }

    .details--wide {
      flex-basis: 50%;
    }

    .detail {
      flex-basis: auto; // reset percentage basis for IE
    }
  }

  @if $enable-css-grid {
    @supports (grid-gap: 10px) {

    }
  }
}

.detail-block {
  border-bottom: 1px solid $gray-300;
  padding-bottom: 1rem;
}

.detail-block, .loan-block, .budget-block {
  margin: 0 0 2rem; // 0 0 32px
}

.detail-block--loan, .detail-block--budget {
  border: 2px solid darken($vsac-blue,10%);
  margin: 0;
  padding: 0;
}

.detail-block--unassigned {
  background: lighten($vsac-gray,10%);
  border: 0;
  margin: 0;
  padding: 0;
}

.details {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.details--highlight {
  background: darken($vsac-blue,10%);
  .detail, .detail__highlight {
    color: $white;
  }
}

.detail {
  color: $text-muted;
  list-style: none;
  padding: 1rem; // 16px

  .detail__title {
    display: block;
    font-size: 0.875rem; // 14px
  }

  .detail__value {
    display: block;
    font-size: $h5-font-size;
    font-weight: 600;
    line-height: $headings-line-height;
  }

  @include media-breakpoint-up(sm) {
    .detail__value {
      font-size: $h4-font-size;
    }
  }
}

.detail--small {
  .detail__value {
    font-size: $h6-font-size;
  }

  @include media-breakpoint-up(md) {
    .detail__value {
      font-size: $h5-font-size;
    }
  }
}

.detail--highlight {
  color: darken($vsac-blue,10%);
  .detail__value, .detail__title {
    font-weight: 700;
  }
}

// Payment modal
.account {
  border: 2px solid $table-border-color;
  padding: 1rem; // 16px
  margin: 0 0 1rem; // 0 0 16px
  > div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    button {
      flex-grow: 0;
      flex-shrink: 0;
    }
    > * {
      margin-right: 1.5rem; // 24px
    }
  }
  .detail {
    padding-left: 0;
    padding-right: 0;
  }
}

.table {
  caption {
    caption-side: top;
    color: $headings-color;
    font-size: $h5-font-size;
    font-family: $headings-font-family;
    font-weight: $headings-font-weight;
    padding: $table-cell-padding;
  }
  svg {
    height: 24px;
    width: 24px;
  }
}

// Loans in Repayment
.table-striped {
  th, td {
    border-top: 0;
  }
  tbody {
    tr:nth-of-type(odd) {
      background: rgba(0,0,0,0.045);
    }
  }
}

.loan-block {
  display: flex;
  flex-direction: column;
}

.loan-block__toggle, .block__toggle {
  background: darken($vsac-blue,10%);
  border: 0;
  display: block;
  color: $white;
  font-size: $font-size-sm;
  font-weight: 600;
  margin: 0 auto;
  padding: $input-btn-padding-y $input-btn-padding-x;
  order: 10; // push to end
  text-transform: uppercase;
}

.loan-block__expanded, .block__expanded {
  border: 2px solid darken($vsac-blue,10%);
  margin: -2px 1rem 0;
  table {
    font-size: $font-size-sm;
    margin: 0;
    th, td {
      border: 0;
    }
  }

  @include media-breakpoint-up(md) {
    margin: -2px 2rem 0; // -32px 32px 0
    padding: 1rem; // 16px
  }
}

// Payments
.payments, .awards {
  padding: 1.5rem 0; // 24px 0
  @include media-breakpoint-up(lg) {
    padding: 1.5rem 3rem 1.5rem 0; // 24px 48px 24px 0
  }
}

.payment, .award {
  border: 0.125rem solid $table-border-color; // 2px solid
  border-width: 0 0.125rem 0.125rem; // 0 2px 2px
  &:first-child {
    border-width: 0.125rem; // 2px
  }
}

.payment__summary, .award__summary {
  align-items: center;
  background: #fff;
  border: 0;
  cursor: pointer;
  display: flex;
  width: 100%;
  .details {
    flex-basis: 100%;
    .detail {
      flex-basis: 50%;
      @include media-breakpoint-up(md) {
        text-align: center;
      }
    }
  }

  .detail__title {
    font-size: 0.75rem; // 12px
  }

  .detail__value {
    font-size: $font-size-base;
  }

  @include media-breakpoint-up(md) {
    .detail__title {
      font-size: $font-size-sm;
    }
    .detail__value {
      font-size: $h3-font-size;
    }
  }
}

.payment__toggle, .award__toggle {
  min-width: 0;
  flex-basis: 40px;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 0;
  svg {
    height: 20px;
    width: 20px;
    margin-right: 0;
    transition: 0.2s ease-in-out transform;
  }
  &.open {
    svg {
      transform: rotate(90deg);
    }
  }
  @include media-breakpoint-up(sm) {
    flex-basis: 60px;
    svg {
      height: 32px;
      width: 32px;
    }
  }
}

.payment__detail, .award__detail {
  border-top: 1px solid $table-border-color;
  h6 {
    font-size: 0.75rem; // 12px
    padding: 1rem 0 0; // 16px 0 0
    text-align: center;
    text-transform: uppercase;
  }
  table {
    font-size: $font-size-sm;
    margin: 0;
    th, td {
      border: 0;
    }
  }
}

.award__detail {
  background: $gray-100;
  label {
    font-size: $font-size-sm;
  }
  .form-control {
    width: auto;
    margin: 0 auto;
    max-width: 200px;
  }
  p, ul {
    margin: 0;
  }
}

.form-toggle {
  background: transparent;
  border: 0;
  margin-left: -1rem;
  color: $vsac-blue;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 1.5rem; // 24px
  padding: 0;
  &:hover {
    color: $vsac-maroon;
    cursor: pointer;
  }
  svg {
    fill: currentColor;
    height: 20px;
    width: 20px;
    margin-right: 0;
    transition: 0.2s ease-in-out transform;
  }
  &.open {
    margin-bottom: 1.5rem; // 24px
    svg {
      transform: rotate(90deg);
    }
  }
  @include media-breakpoint-up(sm) {
    svg {
      height: 32px;
      width: 32px;
    }
  }
}

// Reponsive tables
.table-collapsible {
  @include media-breakpoint-down(sm) {
    thead {
      @include sr-only;
    }
    tbody {
      th, td {
        display: flex;
        justify-content: space-between;
        text-align: right !important; // reset any utility alignment, right align value
        &:before {
          display: block;
          content: attr(data-title);
          font-weight: 700;
          flex-basis: 50%;
          text-align: left; // left align label
          padding-right: $table-cell-padding;
        }
        .form-control {
          margin: 0;
        }
      }
    }
  }
}

.table-simple {
  thead, tbody {
    th, td {
      border: 0;
      padding: ($table-cell-padding / 2);
      &.l-1 {
        padding-left: ($table-cell-padding * 2);
      }
      &.l-2 {
        font-weight: 400;
        padding-left: ($table-cell-padding * 4);
      }
    }
  }
}

// Filter form
.filter-form {
  border: 2px solid $gray-200;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  .form-group {
    padding: 1rem;
    margin: 0;
  }
  .form-actions {
    padding: 1rem;
    margin: 0;
  }
}


// Grants
.sidebar {
  margin: -2.0625rem 0 0; // // -33px 0 0

  @include media-breakpoint-up(lg) {
    margin-right: 1rem; // 16px
    display: block !important;
  }
}

.sidebar__search {
  background: lighten($vsac-gray,10%);
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1rem 1rem 0;
  border: 1px solid lighten($vsac-gray,5%);
  .btn {
    min-width: 0;
  }
}

.nav--subnav {
  margin-top: 1rem;
  margin-bottom: 2rem; // 32px
  padding: 0 1rem 1rem; // 0 16px 16px
  border: 1px solid lighten($vsac-gray,5%);
  .nav-header {
    color: $headings-color;
    font-size: 0.75rem; // 12px
    font-weight: 700;
    text-transform: uppercase;
    margin-top: .5rem; // 8px
    padding: .75rem 0 .5rem; // 12px 0 8px
  }
  .nav-link {
    font-size: 0.875rem; // 14px
    font-weight: 600;
    line-height: 1.2;
    padding: 0.375rem 1rem; // 6px 16px
    text-decoration: none;
    @include hover-focus {
      color: $vsac-maroon;
    }
  }
  .nav-item {
    &.active .nav-link {
      border-left: .25rem solid $vsac-maroon;
      padding-left: .75rem;
      color: $vsac-maroon;
    }
  }
}

.grant-year {
  label {
    color: #fff;
  }
}

// Task list
.block--tasks {
  padding: 0;
  .task-header {
    background: $vsac-gray;
    font-size: 1.5rem; // 24px
    padding: 1rem; // 16px
    margin: 0;
    @include media-breakpoint-up(md) {
      padding: 1rem 1.5rem; // 16px 24px
    }
  }
}

.task-list {
  counter-reset: task_counter;
  padding: 0;
  margin: 0;
}

.task {
  display: flex;
  flex-wrap: wrap;
  counter-increment: task_counter;
  padding: 1rem; // 16px
  border-top: 1px solid $table-border-color;
  @include media-breakpoint-up(md) {
    align-items: center;
    padding: 1.5rem; // 24px
    flex-wrap: nowrap;
  }
  &:first-child {
    border-top: 0;
  }
  &::before {
    background-color: $vsac-maroon;
    border-radius: 50%;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 2rem; // 32px
    height: 2rem; // 32px
    width: 2rem; // 32px
    margin-right: 1rem; // 16px
    flex-grow: 0;
    flex-shrink: 0;
    content: counter(task_counter);
    font-family: $font-family-monospace;
    font-size: 1.5rem; // 24px
    font-weight: 900;
    line-height: 1;
  }

  &:hover {
    background-color: lighten($vsac-lime, 45%);
  }

  .task__description {
    flex-basis: calc(100% - 48px);
    flex-grow: 0;
    flex-shrink: 0;
    margin-bottom: .5rem;
    *:last-child {
      margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
      flex-shrink: 1;
      margin-bottom: 0;
    }
  }

  .task__title {
    font-size: $h5-font-size;
    font-weight: 700;
    line-height: $headings-line-height;
    margin-bottom: .5rem;
    & + p {
      margin-top: .5rem; // 8px
    }
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
  }

  .task__link {
    flex-basis: 100%;
    padding-left: 3rem; // 48px
    @include media-breakpoint-up(md) {
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 0;
      padding-left: 1rem;
    }
  }
}

.task--completed {
  color: $gray-500;
  &::before {
    background-color: $vsac-blue;
    content: "\2713";
  }
  &:first-child {
    border-top: 1px solid $table-border-color;
  }
  &:hover {
    color: $body-color;
  }
  @include media-breakpoint-up(md) {
    .task__link {
      strong {
        display: inline-block;
        min-width: 140px;
        text-align: center;
      }
    }
  }
}

// Max width for table readability
.table--financial-details {
  max-width: 800px;;
}

.grants-tabs {
  margin: 0 0 1.25rem; // 0 0 20px
  font-size: .875rem; // 14px
  .nav-link {
    padding: .5rem; // 8px
  }
  @include media-breakpoint-up(md) {
    font-size: 1rem; // 16px
    .nav-link {
      padding: .5rem 1rem; // 8px 16px
    }
  }
}

.card-list {
  margin: 0 0 2rem; // 0 0 32px
  border-bottom: 1px solid $card-border-color;
  .card {
    border-width: 1px 0 0;
    border-radius: 0;
  }
  .card-header {
    background: transparent;
    border: 0;
    padding: 1rem;
    .btn-link {
      padding: 0;
      font-size: $h5-font-size;
      font-weight: $headings-font-weight;
      white-space: normal;
      text-align: left;
      line-height: 1.2;
      @include media-breakpoint-up(md) {
        line-height: 1.5;
        text-align: center;
      }
    }
    svg {
      transition: 0.2s ease-in-out transform;
    }
    &.open {
      svg {
        transform: rotate(90deg);
      }
    }
  }
  .card-body {
    padding: 0 1rem 1rem;
  }
}

.table--schools {
  label {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

.grant-header {
  background: lighten($vsac-gray,8%);
  margin: -1rem 0 1rem; // -16px 0 16px
  padding: .5rem 0 0; // 8px 0 0
  @include media-breakpoint-up(md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.grant-header__logged-user {
  padding: 0 1rem .5rem; // 0 16px 8px
  font-size: $h5-font-size;
  font-weight: $headings-font-weight;
  margin: 0;
  span {
    display: block;
    font-size: $h6-font-size;
  }
}

.grant-header__active-year {
  padding: 0 1rem .5rem; // 0 16px 8px
  form {
    display: flex;
    align-items: center;
  }
  label {
    color: inherit;
    font-size: 1rem; // 16px
    line-height: 1.2;
    font-weight: 700;
    margin: 0 .5rem 0 0; // 0 8px 0 0
  }
  select {
    width: auto;
  }
}

// Application/Worksheet forms
.worksheet {
  max-width: 800px;
  margin: 0 auto;
}

.worksheet__question {
  padding: 1rem 0 0; // 16px 0 0
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  &:not(:last-child) {
    border-bottom: 1px solid $table-border-color;
    padding-bottom: 1rem; // 16px
  }
  legend + & {
    padding-top: 0;
  }
  .number {
    font-size: 0.875rem; // 14px
    font-weight: 600;
    line-height: 1.8;
    flex-basis: 2rem; // 32px
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
  }
  > .form-group, > .grid-row {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 0;
    margin: 0;
  }
}

.worksheet__nav {
  border: 1px solid $table-border-color;
  border-width: 1px 0 0;
  display: flex;
  align-items:flex-start;
  justify-content: space-between;
  padding: 1rem 0;
  .pagination {
    margin: 0;
  }
}

.worksheet__header {
  margin-bottom: 1rem;
  text-align: center;
  .worksheet__nav {
    border-width: 0 0 1px;
    margin: 0 0 1rem;
  }
}

// Rosters
.student {
  margin-bottom: 1rem; // 16px
  border: 2px solid darken($vsac-blue,10%);
}

.student__header {
  background: darken($vsac-blue,10%);
  color: $white;
  padding: 1rem; // 16px
  label {
    color: $white;
  }
  .form-group {
    margin: 0;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.student__year-data, .student__term-data {
  padding: 1rem 1rem 0; // 16px 16px 0
  border-bottom: 1px solid $table-border-color;
}

.student__status {
  font-weight: 700;
  svg {
    background: theme-color("success");
    fill: $white;
    width: 1rem;
    height: 1rem;
    vertical-align: baseline;
  }
}

.student__tabs {
  font-size: 0.75rem; // 12px
  display: flex;
  align-items: flex-end;
  flex-wrap: nowrap;
  .nav-item {
    text-align: center;
  }
  .nav-link {
    padding: .5rem;
    @include hover-focus {
      border-color: transparent transparent $nav-tabs-border-color;
      color: $vsac-blue;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    border-color: $nav-tabs-border-color $nav-tabs-border-color $white;
  }
  @include media-breakpoint-up(xl) {
    font-size: 0.875rem; // 14px
  }
}

.block--student-content {
  border-top: 0;
  .student {
    border: 0;
  }
  .student__term-data {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.student__budget-header {
  font-size: $h6-font-size;
  label {
    font-size: 0.875rem; // 14px
    align-items: center;
  }
  .form-group {
    margin: 0;
  }
  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
